# Table of Contents
- Chapter notes 
  - Basic Data Types (Integers and strings)
  - indexing and Slicing
  - Data Structures (Lists and Dictionaries)
  - Control statements
  - Functions and Modules for organization
  - Proper Python formatting

# Chapter 3 - Getting Started with Python 

#### Data Types
- Data type, (integers, floats, booleans, and strings)

#### Objects
- Everything in Python is an object
- variable, a name that you can assign to an object by using the equal sign
- dynamic typing, changing a variables type simply by asigning it to a new object
- Python is case-sensitive (unlike VBA)
- function, a name calling a block of code with parameters (optionally)
- attributes, varaibles in context to objects, gives access to data from an object
- methods, functions in context to objects, allow you to perform actions
- class, where the type of an object and its behavior is defined
- instantiation, process of getting a specific object from a class

#### Numeric Types
- int and float, integers and floating-point numbers respectively
- Excel cells always store floats
- floating-point inaccuracie, rounding erro (Excel always rounds numbers but seeing the floating number behind the scenes are on a larger scales shows a un-rounded incorrect float
- Python doesn't hide the rounding errors from floating-point inaccuracies
- numeric operations include (+, -, /, *, **, and () )

#### Booleans
- boolean types are True or False
- Boolean operators (and, or, not)
- every object in Python evaluates to either True or False, most being true
- False, 0, empty data types are example sof those that can result in False on their own
- None is a built-in constant, represents "abscence of a value"
- Noneis good to represent empty cells in Excel

#### Strings
- Strings are character lines
- Can be represented by double quotes or single quotes "" or ''
- can use + or * to concatenate strings (for repeating)
- .lower() is for lowercase string, .upper() is for uppercase string


- hitting tab after a period for a object shows what actions you can take with the object (for jupyter notebook)

#### Indexing and Slicing
- Indexing and Slicing give access to spedific pieces of a sequence
- Srings are sequences of characters so we can slice or index them
- String index example:
| 0 | 1 | 2 | 3 | 4 | 5 |
|---|---|---|---|---|---
| P | y | t | h | o | n |
| -6 | -5 | -4 | -3 | -2 | -1 |
- index does go backwards with negative numbers!
- syntax for indexing: sequence[index]
- slicing is used to get more than just one element from a sequence
- sequence syntax: sequence[start:stop:step]
- you can chain slices and indexes! 

#### Data Structures
- Will be going over lists, dictionaries, tuples, and sets
- all 4 can hold several data objects
- Lists, structure holding several data types and super versatile
- List syntax: [element1, element2, ... so on]
- can concatenate lists as well! (append them)
- can put lists in lists (nested lists)
- Dictionaries, map keys to values, key/value combinations
- Dictionary syntax: {key1: value1. key2, value2, so on ... }
- adding two/more dictionaries together is done by unpacking (**)
  - the keys shared between both dictionaries will overide 
- Tuples are like lists but are immutable (after creation the elements cannot be changed)
- Tuple syntax: mytuple = element1, element2, ...
- Adding values to a tuple results in a brand new tuple without the original changing 
- Sets, collections with no duplicate items, helpful for getting unique items
- Set syntax: {element1, element2, ...}
| Data Structure | Literals | Constructor |
| --- | --- | --- |
| List | [1,2,3] | list((1,2,3)) |
| Dictionary | {"a":1, "b":2} | dict(a-1, b=2) |
| Tuple | (1,2,3) | tuple([1,2,3]) |
| Set | {1,2,3} | set((1,2,3)) |

#### Control Flow
- if, for, while loops, statements allowing sequences of code to run at specific times
- code block, section in source code 
- significant white space, spaces that let you define code blocks 
- conditional expressions, (ternary operators), compact style of if/else statements
- range gives a sequence of numbers
- range(stop) or range(start, stop, step)

- augmented assignment notation, n += 1 (same as n=n+1), can be n -= 1

- list comprehension, concise way of creating a list
- Dictionary and set comprehensions exist too

#### Code Organization
- function, block of code to repeat, def is to define one 
- sub procedure, function that doesnt return anything
- function syntax: def function_name(required_argument, optional_argument=defaut_value,...):
                       return value1, value2, ...
- Required arguments, no default value (multiple are sesperated by commas)
- Optional arguments, has default value, None is used to make it optional if there is no good default
- Return value, return statement defines what value comes from the function (no return, returns None)
- function call syntax: value1, value2, ... = function_name(positional_arg, arg_name=value, ...)
- positional arguments, vales provided as a positional argument are matched to arguments in the function definition
- Keyword arguments, arguments that you can provide in any order, more explicit
- script, main file
- import, to let other files access functionalities 
- modules, python source files
- when importing a module, a __pycache__ folder is made, bytecode-compiled files Python interpreter makes
- namespace is important, can override functions if they share the same name when importing modules
- datetime class in Python, dates and times are heavily used in Excel
- literals, syntax Python uses to recognize a specific object (like a list of set)
- instantiation, calling a class to create an object )objects are then called class instances)


#### Style Guide for Python Code
- Python uses Python Enhancement Proposals (PEP) to introduce new language features
- PEP 8, Style Guide for Python Code

In [1]:
# Variable example with dynamic typing
a = 3
print(a)
a = "three"
print(a)

3
three

In [4]:
# Type examples
print(type(4))
print(type(4.4))

<class 'int'>
<class 'float'>

In [5]:
type(4)

int

In [6]:
#flaoting-point inaccuracy example
1.125 - 1.1

0.02499999999999991

In [7]:
#numeric operation examples
3 + 4

7

In [8]:
3 - 4

-1

In [9]:
3 / 4

0.75

In [10]:
3 * 4

12

In [11]:
3 ** 4

81

In [12]:
3 * (3 + 4)

21

In [13]:
#Boolean operation examples
3 == 4

False

In [14]:
3 != 4

True

In [15]:
3 < 4

True

In [16]:
3 <= 4

True

In [18]:
not True

False

In [19]:
False and True

False

In [20]:
False or True

True

In [21]:
# double checking if a object is True or False
bool(2)

True

In [22]:
bool(0)

False

In [23]:
bool("")

False

In [24]:
bool(None)

False

In [25]:
#String examples with concatination
"A double quote string. " + 'A single quote string'

'A double quote string. A single quote string'

In [26]:
print("Dont wait! " + 'Learn how to "speak" Python')

Dont wait! Learn how to "speak" Python

In [28]:
print("It's easy to \"Escape\" characters with a leading \\.")

It's easy to "Escape" characters with a leading \.

In [30]:
#Python allows you to conveniently assign multiple values to multiple variables in a singleline
first_adjective, second_adjective = "free", "open source"
f"python is {first_adjective} and {second_adjective}."

'python is free and open source.'

In [31]:
"PYTHON".lower()

'python'

In [32]:
"python".upper()

'PYTHON'

In [33]:
#Indexing string examples
language = "PYTHON"
language[0]

'P'

In [35]:
language[1]

'Y'

In [36]:
language[2]

'T'

In [37]:
language[-3]

'H'

In [38]:
#Sequence string examples
language[:3]

'PYT'

In [39]:
language[1:3]

'YT'

In [40]:
language[-3:-1]

'HO'

In [41]:
language[::2]

'PTO'

In [42]:
language[-1:-4:-1]

'NOH'

In [43]:
#chaining a slice and index
language[-3:][1]

'O'

In [44]:
#List examples
file_names = ["one.xlsx","two.xlsx","three.xlsx"]
numbers = [1, 2, 3]

In [45]:
file_names + numbers

['one.xlsx', 'two.xlsx', 'three.xlsx', 1, 2, 3]

In [46]:
nested_list = [[1,2,3], [4,5,6], [7,8,9]]

In [47]:
nested_list[1]

[4, 5, 6]

In [48]:
nested_list[1][1]

5

In [51]:
#line continuation examples
a = (1 + 2
    + 3)
print(a)

6

In [52]:
a = 1 + 2 \
+ 3
print(a)

6

In [53]:
users = ["Linda", "Brian"]

In [54]:
users.append("Jennifer")
users

['Linda', 'Brian', 'Jennifer']

In [55]:
users.insert(0, "kim")
users

['kim', 'Linda', 'Brian', 'Jennifer']

In [56]:
users.pop()
users

['kim', 'Linda', 'Brian']

In [57]:
del users[0]
users

['Linda', 'Brian']

In [58]:
len(users)

2

In [59]:
"Linda" in users

True

In [60]:
print(sorted(users))

['Brian', 'Linda']

In [61]:
print(users)

['Linda', 'Brian']

In [62]:
users.sort()
users

['Brian', 'Linda']

In [1]:
#Dictionary examples
exchange_rates = {"EURUSD":1.1152,
                 "GBPUSD":1.2454,
                 "AUDUSD":0.6161}
exchange_rates["EURUSD"]

1.1152

In [2]:
exchange_rates["EURUSD"] = 1.2
exchange_rates

{'EURUSD': 1.2, 'GBPUSD': 1.2454, 'AUDUSD': 0.6161}

In [4]:
exchange_rates["CADUSD"] = 0.714
exchange_rates

{'EURUSD': 1.2, 'GBPUSD': 1.2454, 'AUDUSD': 0.6161, 'CADUSD': 0.714}

In [7]:
#one form of unpacking dictionaires
{**exchange_rates, **{"SGDUSD":0.7004, "GBPUSD":1.2222}}

{'EURUSD': 1.2,
 'GBPUSD': 1.2222,
 'AUDUSD': 0.6161,
 'CADUSD': 0.714,
 'SGDUSD': 0.7004}

In [8]:
#one form of unpacking dictionaires
exchange_rates | {"SGDUSD":0.7004, "GBPUSD":1.2222}

{'EURUSD': 1.2,
 'GBPUSD': 1.2222,
 'AUDUSD': 0.6161,
 'CADUSD': 0.714,
 'SGDUSD': 0.7004}

In [9]:
currencies = {1:"EUR", 2:"USD", 3:"AUD"}
currencies[1]

'EUR'

In [10]:
currencies.get(100,"N/A")

'N/A'

In [11]:
# Tuple example
currencies = ("EUR", "GBP", "AUD")
currencies[0]

'EUR'

In [12]:
#adding to a tuple (new tuple)
currencies + ("SGD",)

('EUR', 'GBP', 'AUD', 'SGD')

In [1]:
# Set example (with constructor)
set(["USD", "USD","SGD","EUR","EUR","USD"])

{'EUR', 'SGD', 'USD'}

In [2]:
portfolio1 = {"USD", "EUR", "SGD", "CHF"}
portfolio2 = {"EUR", "SGD", "CAD"}

In [3]:
portfolio1.union(portfolio2)

{'CAD', 'CHF', 'EUR', 'SGD', 'USD'}

In [4]:
portfolio1.intersection(portfolio2)

{'EUR', 'SGD'}

In [5]:
#example to convert a tuple to a list
currencies = "USD", "EUR", "CHF"
currencies

('USD', 'EUR', 'CHF')

In [6]:
list(currencies)

['USD', 'EUR', 'CHF']

In [8]:
# control flow
i = 20
if i < 5:
    print("i is smaller than 5")
elif i <= 10:
    print("i is between 5 and 10")
else:
    print("i is bigger than 10")

i is bigger than 10

In [9]:
is_important = True
if is_important:
    print("This is important.")
else:
    print("This is not important.")

This is important.

In [10]:
values = []
if values:
    print(f"The following values were provided: {values}")
else:
    print("There were no values provided.")

There were no values provided.

In [11]:
#conditional statement (ternary operation)
is_important = False
print("important") if is_important else print("not important")

not important

In [12]:
currencies = ["USD", "HKD", "AUD"]
for currency in currencies:
    print(currency)

USD
HKD
AUD

In [13]:
#range examples
range(5)

range(0, 5)

In [14]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
list(range(2,5,2))

[2, 4]

In [16]:
for i in range(3):
    print(i)

0
1
2

In [17]:
for i, currency in enumerate(currencies):
    print(i, currency)

0 USD
1 HKD
2 AUD

In [18]:
exchange_rates = {"EURUSD": 1.1152,
                 "GBPUSD": 1.2454,
                 "AUDUSD": 0.6161}
for currency_pair in exchange_rates:
    print(currency_pair)

EURUSD
GBPUSD
AUDUSD

In [20]:
for currency_pair, exchange_rate in exchange_rates.items():
    print(currency_pair, exchange_rate)

EURUSD 1.1152
GBPUSD 1.2454
AUDUSD 0.6161

In [21]:
for i in range(15):
    if i == 2:
        break
    else:
        print(i)

0
1

In [22]:
for i in range(4):
    if i == 2:
        continue
    else:
        print(i)

0
1
3

In [23]:
for i in range(1, 4):
    print(i)
print(i)

1
2
3
3

In [24]:
n = 0
while n <= 2:
    print(n)
    n += 1

0
1
2

In [27]:
#program to get currencies where USD is mentioned second
currency_pairs = ["USDJPY", "USDGBP","USDCHF","USDCAD","AUDUSD","NZDUSD"]
usd_quote = []
for pair in currency_pairs:
    if pair[3:] == "USD":
        usd_quote.append(pair[:3])
usd_quote

['AUD', 'NZD']

In [28]:
#list comprehension example
[pair[:3] for pair in currency_pairs if pair[3:]=="USD"]

['AUD', 'NZD']

In [29]:
# inverting the currencies
[pair[3:] + pair[:3] for pair in currency_pairs]

['JPYUSD', 'GBPUSD', 'CHFUSD', 'CADUSD', 'USDAUD', 'USDNZD']

In [30]:
# dictionary comprehension
exchange_rates = {"EURUSD": 1.1152,
                  "GBPUSD": 1.2454,
                  "AUDUSD": 0.6161}
{k: v * 100 for (k, v) in exchange_rates.items()}

{'EURUSD': 111.52, 'GBPUSD': 124.54, 'AUDUSD': 61.61}

In [31]:
# set comprehension
In [106]: {s + "USD" for s in ["EUR", "GBP", "EUR", "HKD", "HKD"]}

{'EURUSD', 'GBPUSD', 'HKDUSD'}

In [32]:
# function example, Fahrenheit/Kelvin to Celsius
def convert_to_celsius(degrees, source="fahrenheit"):
    if source.lower() == "fahrenheit":
        return (degrees-32) * (5/9)
    elif source.lower() == "kelvin":
        return degrees - 273.15
    else:
        return f"Don't know how to convert from {source}"

In [33]:
convert_to_celsius(100, "fahrenheit") #Positional arguments

37.77777777777778

In [34]:
convert_to_celsius(50) #using default source

10.0

In [35]:
convert_to_celsius(source="kelvin", degrees=0) #Keyword arguments

-273.15

In [41]:
#importing the temperature.py module

import temperature

This is the temperature module.

In [42]:
temperature.TEMPERATURE_SCALES

('fahrenheit', 'kelvin', 'celsius')

In [43]:
temperature.convert_to_celsius(120, "fahrenheit")

48.88888888888889

In [44]:
import temperature as tp

In [45]:
tp.TEMPERATURE_SCALES

('fahrenheit', 'kelvin', 'celsius')

In [46]:
from temperature import TEMPERATURE_SCALES, convert_to_celsius

In [47]:
TEMPERATURE_SCALES

('fahrenheit', 'kelvin', 'celsius')

In [48]:
'''
import datetime as dt
dt.datetime(year, month, day, hour, minute, second, microsecond, timezone)
'''

'\nimport datetime as dt\ndt.datetime(year, month, day, hour, minute, second, microsecond, timezone)\n'

In [49]:
#Import the datetime module as "dt"
import datetime as dt

In [50]:
#Instantiate a datetime object called "timestamp"
timestamp = dt.datetime(2020, 1, 31, 14, 30)
timestamp

datetime.datetime(2020, 1, 31, 14, 30)

In [51]:
timestamp.day

31

In [52]:
#difference of two datetime objects returns a timedelta object
timestamp - dt.datetime(2020, 1, 14, 12, 0)

datetime.timedelta(days=17, seconds=9000)

In [54]:
timestamp + dt.timedelta(days=1, hours=4, minutes=11)

datetime.datetime(2020, 2, 1, 18, 41)

In [55]:
#Format a datetime object in a specific way
#can also use f-string: f"{timestamp:%d/%m/%Y %H:%M}"
timestamp.strftime("%d/%m/%Y %H:%M")

'31/01/2020 14:30'

In [56]:
#Parse a string into a datetime object
dt.datetime.strptime("12.1.2020", "%d.%m.%Y")

datetime.datetime(2020, 1, 12, 0, 0)